body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f9;
}
/*Heading of Dashboard*/
.App-header 
{
  margin-left: 10px;
  padding: 10px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: -80px;
}
.head
{
  color: black;
  font-size: 30px;
}

/*Date styling*/
.date-container {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 10px;
  margin-right: 25px;
}
.date-part {
  display: block;
}

/*Dashboard head logo styling*/
.App-logo {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 500px;

}
/*Main Content of the page(layout)*/
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/*Styling for Employee-Table and its properties*/
.employee-table {
  width: 80%;
  flex: 2;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-x: auto;
}
.employee-table table 
{
  width: 100%;
  border-collapse: collapse;
}
.employee-table th
{
  background-color: rgb(10, 10, 152);
  color: white;
  font-weight: normal;
}
.employee-table tr:nth-child(even) 
{
  background-color: hsl(249, 41%, 97%);
}
.employee-name 
{
  font-weight: 600; 
}
.employee-table th:nth-child(3), .employee-table td:nth-child(3)
{
  width: 900px; 
}
.employee-table th:nth-child(4)
{
  width: 400px;
}
.employee-table th:nth-child(5), .employee-table td:nth-child(5)
{
  width: 800px; 
}
.employee-table th:last-child, .employee-table td:last-child 
{
  width: 700px; 
}
.employee-table th, .employee-table td 
{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.emply-img 
{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
}
.employee-img-container 
{
  display: flex;
  align-items: center;
}
.badge 
{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}
.rank-img
{
  display: flex;
  align-items: center;
}

/*Styling for top-employee box and its properties*/
.top-employee 
{
  width: 100%;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 68px;
  margin-right: 20px;
  margin-bottom: 260px;
}
.top-emply-img 
{
  width: 90%;
  margin-top: 15px;
}
.top-employee h2, .top-employee p 
{
  margin: 0;
}
.bottom-img
{
  width: 100%;
  height: 200px;
  margin-bottom: -7px;
  object-fit: cover;
}
.top-emply-title
{
  color: rgb(6, 6, 186);
  font-size: 22px;
}
.top-emply-name
{
  font-size: 20px;
}
.top-emply-desig
{
  font-size: 14px;
}

/*For adapting the page to different media devices*/
@media (min-width: 768px) 
{
  .main-content 
  {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 925px) 
{
  .main-content 
  {
    flex-direction: column;
    align-items: center;
  }

  .App-header 
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .App-logo 
  {
    width: 50px;
    height: 50px;
  }

  .head 
  {
    font-size: 24px;
  }

  .date-container 
  {
    position: static;
    margin: 10px 0;
    
  }
}

@media (max-width: 768px) 
{
  .employee-table 
  {
    width: 100%;
  }

  .top-employee 
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .date-container 
  {
    position: static;
    text-align: left;
   
    margin-top: -100px;
  }
}

@media (max-width: 480px) 
{
  .App-logo 
  {
    width: 40px;
    height: 40px;
  }
  .head 
  {
    font-size: 20px;
  }

  .top-emply-title 
  {
    font-size: 18px;
  }
  .top-emply-name 
  {
    font-size: 16px;
  }
  .top-emply-desig {
    font-size: 12px;
  }
  .date-container 
  {
    text-align: left;
    background: #f4f4f9;
    padding: 0;
    margin-top: -100px;
  }
}
@media (max-width: 1024px)
{
  .App-logo
  {
    height: 60px;
    width: 60px;
  }

}